/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
*.log
.DS_Store

config/ide-helper.php
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php

public/js
public/css
public/mix-manifest.json
